@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}
/* * {
  font-family: "Caveat", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
}

.PageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FormContainer {
  border: 2px solid black;
  margin-top: 25px;
  position: relative;
  background-color: white;
  color: black;
  width: 850px;
  height: 170px;
  border-radius: 10px;
}

.ItemContainer {
  border: 2px solid Black;
  background-color: white;
  color: black;
  width: 850px;
  height: 150px;
  border-radius: 10px;
}
#titleItem {
  margin-top: 10px;
}

.decriptionDivItem {
  width: 700px;
  height: 85px;
}

.AllSubmitedTodoItemsContainer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

#AddTaskButton {
  border: 2px solid #a31d1d;
  background-color: #a31d1d;
  color: #e4e0e1;
  width: 200px;
  padding: 15px;
  border-radius: 5px;
  margin-top: 20px;
}

.formContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 10px;
}

/* #inputform,
#inputdate,
#descriptiontext {
} */

#inputform,
#inputdate {
  width: 150px;
}

#descriptionTextForm {
  width: 700px;
  height: 85px;
}

#cancelFormButton,
#optionsButton {
  padding: 2px;
}
#optionsButton {
  padding: 5px;
}

#SubmitFormButton {
  padding: 2px;
  border: 2px solid #d84040;
  background-color: #d84040;
  box-shadow: 2px 2px 2px #d84040 0.8;

  color: #e4e0e1;
  border-radius: 5px;
  bottom: 10px;
  right: 10px;
}

.titleDiv,
.dateDivForm,
.decriptionDivForm {
  display: flex;
  justify-content: space-between;
}

/* #optionsButton {
  padding-bottom: 20px;
  background-color: #b6b6b6;
}

.dropdown #optionsButton {
}
.dropdownContent button {
  background-color: #e0dfdf;
  display: block;
  position: absolute;
  min-width: 50px;
  box-shadow: 2px 2px 2px rgb(31, 31, 31, 0.8);
}
.dropdown:hover button {
  display: block;
}

} */
/* #checkbox {
  border-radius: 50%;
} */
#checkbox {
  margin-top: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #171717;
  appearance: none;
  /* -webkit-appearance: none;
  -moz-appearance: none; */
  outline: none;
  cursor: pointer;
  background-color: #ffffff;
}

#checkbox:checked {
  background-color: #171717;
}
.dropdownContent {
  display: none;
  position: absolute;
}

.dropdownContent.visible {
  display: block;
}

.dropdownContent button {
  display: flex;
  background-color: #e4e0e1;
  min-width: 53px;
  margin-left: -31px;
  padding: 2px;
  box-shadow: 2px 2px 2px rgb(31, 31, 31, 0.8);
}
